
@font-face {
    font-family: 'formula1display-regular';
    src: url('fonts/formula1_display_regular-webfont.woff2') format('woff2'),
         url('fonts/formula1_display_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'formula1display-regular';

}

p {
    font-family: 'formula1display-regular';
}